.vue-star-rating-rating-text {
  font-weight: bold;
  font-size: 1.9em;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  color: rgb(240, 0, 0);
  background: #fff;
}

.toast-alert {
background: rgb(5, 37, 216);
}

.btn-top-margin {
    margin-top: 27px;
}
